html{
  font-size: 18px;
  scroll-behavior: smooth;
}
body{
  margin:0px;
  padding:0px;
  font-family: Arial, Helvetica, sans-serif;
}
header{
  background-color:#E26D00;
  position:fixed;
  z-index:999;
  width:100%;
}
.contenedor{
  width:1090px;
  margin:0 auto;
}
nav > .logo{
display:flex; 
}
nav > .logo > a > img{
  width:54px;
  height:auto;
}
nav > .logo > a{
  display:block;
  padding:0px;
  margin:0px;
  height:60px;
}
nav{
  padding:20px 0px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
nav ul{
  margin:0;
  padding:0;
  list-style-type:none;
  display:flex;
  align-items:center;
}
nav > ul > li > a{
  text-decoration:none;
  color:white; 
  padding:1.4rem 0.9rem;
}
nav > ul > li > a:hover{
  font-weight:bold;
}
nav > ul > li > a:visited{
  font-weight:bold;
}
section{
  background-image:url('https://i.ibb.co/yB16psG/crumpled-white-paper-2021-08-29-08-09-57-utc-1.jpg') ;
  background-size:100%;
  background-repeat:none;
}
#hero{
  padding-top:60px;
}
#hero > .contenedor{
  display: flex;
  justify-content: center; 
  align-items:center;
  height:100vh;
}
#hero > .contenedor > div{
  width:65%;
}
#hero > .contenedor > div > h1{
  color: transparent;
  background-color: #000;
  font-size:5rem;
  margin:0px;
  line-height:4.4rem;
  font-family: "Times New Roman", Times, serif;
  text-shadow: 0px 2px 2px rgba(226, 109, 0, 1);
  -webkit-background-clip: text;
     -moz-background-clip: text;
          background-clip: text;
}
#hero > .contenedor > div > h4{
  font-size:2rem;
  margin:10px 0;
}
#quien{
  background-color:#E26D00;
  background-image:url('https://i.ibb.co/MsFfmPb/dsc08712-copia1-e1457650995894-1.jpg');
  background-size:50% 100%;
  background-position:center right;
  background-repeat:no-repeat;
  height:100vh;
}
#quien > div{
  width:47%;
  padding:10px;
}
#quien > div > h2{
  margin:0px;
  padding:0px 0px 0px 0px;
  font-size:3rem;
}
#quien{
  display: flex;
  align-items: center;
  color:white;
  line-height:1.7;
}
#que{
 height:100vh;
 display:flex;
  align-items:center;
  justify-content:space-between;
}
#que > .contenedor > div{
  display:flex;
}
#que > .contenedor h2{
  margin:0px 0px 10px 0px;
  padding:80px 0px 10px 0px;
  font-size:3rem;
  color:#E26D00;
}
#que > .contenedor > div > .card{
  width:34.3%;  
  text-align:center;
}
#que > .contenedor > div > .card > img{
  width:70%;
}
#que > .contenedor{
  padding-top:;
  padding-bottom:40px;
  position:relative;
  
}
#que > .contenedor > div > .card > a{
  text-align:center;  
  display:block;
  padding:10px;
  text-decoration:none;
  font-weight:bold;
  color:#E26D00;
  font-size:1rem;
}
#que > .contenedor > .thumbs > .arrow-right{
  position:absolute;
  top:60%;
  cursor:pointer;
}
#que > .contenedor > .thumbs > .arrow-left{
  position:absolute;
  top:60%;
  right:0;
  cursor:pointer;
}
#que > .contenedor > .thumbs > .arrow-right > svg {
  width:40px;
  height:40px;
}
#que > .contenedor > .thumbs > .arrow-left > svg {
  width:40px;
  height:40px;
}
#como{
  height:100vh;
  display:flex;
  align-items:center;
}
#como > div {
  width:46%;
  padding:0px 0px 0px 10px;
}
#como > div > h2{
  margin: 0px 0px 0px 0px;
  padding:70px 0px 0px 0px;
  font-size:3rem;
}
#como{
  color:white;
  background-color:#E26D00;
  background-image:url('https://i.ibb.co/VCcX7jm/hands-writing-on-old-typewriter-top-view-2021-08-26-15-59-30-utc-1.jpg');
  background-size:50% 100%;
  background-position:center right;
  background-repeat:no-repeat;
}
.top{
  position:fixed;
  bottom:20px;
  z-index:9;
  right:10px;
}
.top > a > svg{
 width:40px;
 height:auto;
  background-color:white;
  border-radius:100%;
}
.top > a > svg:hover{
 fill: #000;
}